{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style-min.css' %}">

</head>

<body style="overflow-x: hidden">
<div class="container" style="border: 5px solid black; margin: 10px auto">
{% include 'header.html' %}
{% block app %}



{% endblock %}
{% include 'footer.html' %}
<script src="{% static 'js/scripts.min.js' %}"></script>
</div>
</body>

</html>